.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    flex-wrap: wrap;
}

.text {
    color: #b9b9b9;
    width: 380px;
    margin-top: 79px;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-uppercase {
    text-transform: uppercase;
}

.bottons-box {
    margin-top: 46px;
}

.icons {
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
}

.margin-right-icon {
    margin-right: 30px;
}

.button-color {
    background-color: #b9b9b9;
    color: white;
    border: 0px;
}

.download-color {
    margin-right: 16px;
    color: #68b51f;
    border-color: #68b51f;
    background-color: white;
}

button {
    height: 40px;
    border-radius: 90px 90px 90px;
    width: 149px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.phone-dim {
    width: 270px;
}

.logo {
    margin-top: 17px;
    margin-left: 105px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 15px;
    border-color: #68b51f;
    border-style: solid;
}

.dot:first-child {
    background-color: #68b51f;
}

.logo-dim {
    width: 200px;
    margin-top: 21px;
}

html, body {
    padding: 0px;
    width: 100%;
    height: 100%;
}